body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #faf4e8;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  text-align: center;
  background-color: #faf4e8;
  box-sizing: border-box;
}
#navbar1 {
  width: auto;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  flex-direction: row;
}

h2 {
  color: #2a6049;
}

#bag {
  width: 10%;
  height: 25%;
}
#search {
  width: 30%;
  height: 30%;
}
#user {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  filter: invert(26%) sepia(57%) saturate(670%) hue-rotate(60deg)
    brightness(85%) contrast(95%);
}
#shopping {
  width: 30%;
  height: 30%;
  color: #2a6049;
}

#navbar2 {
  display: flex;
  align-items: center;
  gap: 40px;
  left: 40%;
  position: absolute;
  margin-top: 40px;
}

#navbar2 a:hover,
#navbar2 .active {
  color: #2f6b4f;
}

#navbar3 {
  height: 9vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-top: 17px;
  margin-right: 10%;
}

#navbar3 p {
  margin: 0;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
}

#main-content {
  height: auto;
  width: 85%;
  background-color: white;
  margin: 0 auto;
}
.main-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}
.main-content2 h1 {
  margin-top: 10px;
  color: #2a6049;
}

.paragraph {
  width: 60%;
  padding: 70px;
}
.paragraph p {
  text-align: center;
  font-size: larger;
}

.underline {
  height: 2px;
  width: 60%;
  background-color: black;
  margin-top: 60px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 30px 30px 200px;
  text-align: left;
}

.contact {
  display: flex;
  flex-direction: column;
}
.address {
  display: flex;
  flex-direction: column;
}
.opening-hours {
  display: flex;
  flex-direction: column;
}

.contact-container {
  height: auto;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.first-name {
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}
.last-name {
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}

.email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.email1 {
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}
.subject1 {
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}
.type {
  height: 120px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}

.image {
  height: 70%;
  width: 80%;
  margin-left: 10%;
  
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  height: 50vh;
  width: 140vh;
  margin-left: 12%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #2a6049;
}

.footer-store {
  font-size: medium;
  font-weight: 100;
  font-family: sans-serif;
  color: whitesmoke;
}

.footer-address {
  font-size: medium;
  font-weight: 100;
  font-family: sans-serif;
  color: whitesmoke;
}

.footer-opening-hours {
  font-size: medium;
  font-weight: 100;
  font-family: sans-serif;
  color: whitesmoke;
}

.footer-getfresh {
  font-size: medium;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: whitesmoke;
}

.input1 {
  padding: 10px;
  height: auto;
  width: 90%;
  border: 2px solid whitesmoke;
  background-color: #2a6049;
  font-size: medium;
}

form {
  font-size: medium;
  padding: 10px;
  font-weight: 300;
}

.submit {
  margin-top: 15px;
  height: auto;
  width: 100%;
  padding: 10px 70px;
  font-size: large;
  cursor: pointer;
}

.checkbox {
  font-size: large;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox input {
  width: 25px;
  height: 25px;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: medium;
  color: whitesmoke;
  padding: 20px;
}

.icon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo {
  height: 25px;
  width: 25px;
  filter: brightness(0) invert(1);
}

@media (max-width: 480px) {
  #navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  #navbar1 {
    height: auto;
    margin-bottom: 10px;
  }
  #bag {
    width: 10%;
    height: 20%;
  }
  #navbar1 h2 {
    margin: 0;
    white-space: nowrap;
    font-size: 20px;
  }

  #navbar2 {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 0;
    position: static;
  }
  #navbar2 a {
    font-size: 14px;
  }

  #navbar3 {
    display: none;
  }

  .details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    text-align: center;
  }
  .name{
    grid-template-columns: repeat(1, 1fr);
  }
  .email{
    grid-template-columns: repeat(1,1fr);
  }

  .first-name{
    width: 70%;
    height:50%;
  }
  .last-name{
    width: 70%;
    height:50%;
  }
  .email1{
    width: 70%;
    height:50%;
  }
  .subject1{
    width: 70%;
    height:50%;
  }
  .type{
    width: 70%;
    height:50%;
  }

  .contact-container{
    align-items: center;
    margin: 0 auto;
    padding: 15px;
  }
  .image{
    margin-bottom: 30px;
  }

  .footer1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
    height: auto;
    width: auto;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .end {
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: #2a6049;
  }
}
